<html>
<head>
	<meta charset="UTF-8">
	<title> AngularJS | To Do List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<script src='../JS/angular-route.min.js'></script>
	<script src='../JS/httpcontroller5.js'></script>
	<style>
		.true{
			text-decoration: line-through;
			font-style: italic;
		}
		span[contenteditable="true"]{
			padding:15px;
			color: gray;
		}
	</style>
</head>
<body>

<div ng-app='myApp'>
	<div ng-controller="httpcontroller">
		<h1 style="text-align:center;">To - Do List</h1>
		<input ng-model='task' ng-keyup='searchEnter();' type="text" name="" value="" style="width:300px;margin:0 auto; display:block">

		<div>
			<ul>
				<li ng-repeat='oneTask in tasks track by $index'>
					<input type="checkbox" ng-model='oneTask.taskStatus'>
					<span contenteditable="false" ng-dblclick='contentEdit()' ng-model='oneTask.taskName' ng-keydown='contentNonEdit()' class="{{oneTask.taskStatus}}">
					{{oneTask.taskName}}
					</span>
				</li>
			</ul>

			<small>By Khyati</small>
		</div>
	</div>
</div>


</body>
</html>
